In [2]:
import pandas as pd

In [3]:
# Includes information about the commitments shared by a pair of states in a given year
atop_dyad_year = pd.read_csv("./ATOP_data/atop5_1dy.csv")

In [6]:
# dyad column combines both states with using their 3 digit cow codes combined for 6 digits
atop_dyad_year.info()
atop_dyad_year.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136648 entries, 0 to 136647
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   dyad      136648 non-null  int64
 1   year      136648 non-null  int64
 2   atopally  136648 non-null  int64
 3   defense   136648 non-null  int64
 4   offense   136648 non-null  int64
 5   neutral   136648 non-null  int64
 6   nonagg    136648 non-null  int64
 7   consul    136648 non-null  int64
 8   shareob   77 non-null      float64
 9   transyr   136648 non-null  int64
 10  bilatno   136648 non-null  int64
 11  multino   136648 non-null  int64
 12  number    136648 non-null  int64
 13  asymm     136648 non-null  int64
 14  atopid1   136648 non-null  int64
 15  atopid2   53437 non-null   float64
 16  atopid3   10650 non-null   float64
 17  atopid4   3022 non-null    float64
 18  atopid5   322 non-null     float64
 19  atopid6   126 non-null     float64
 20  atopid7   62 non-null      float64
 21  atopid8   25 non-null      float64
 22  atopid9   6 non-null       float64
 23  mem1      136648 non-null  int64
 24  mem2      136648 non-null  int64
 25  version   136648 non-null  float64
dtypes: float64(10), int64(16)
memory usage: 27.1 MB

,dyad,year,atopally,defense,offense,neutral,nonagg,consul,shareob,transyr,...,atopid3,atopid4,atopid5,atopid6,atopid7,atopid8,atopid9,mem1,mem2,version
0,2020,1942,1,1,1,0,0,0,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,20,5.1
1,2020,1943,1,1,1,0,0,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,20,5.1
2,2020,1944,1,1,1,0,0,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,20,5.1
3,2020,1945,1,1,1,0,0,0,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,20,5.1
4,2020,1949,1,1,0,0,1,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,20,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136643,910920,2014,1,0,0,0,1,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910,920,5.1
136644,910920,2015,1,0,0,0,1,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910,920,5.1
136645,910920,2016,1,0,0,0,1,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910,920,5.1
136646,910920,2017,1,0,0,0,1,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910,920,5.1
136647,910920,2018,1,0,0,0,1,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910,920,5.1

In [5]:
atop_dyad_year.isnull().sum()

dyad             0
year             0
atopally         0
defense          0
offense          0
neutral          0
nonagg           0
consul           0
shareob     136571
transyr          0
bilatno          0
multino          0
number           0
asymm            0
atopid1          0
atopid2      83211
atopid3     125998
atopid4     133626
atopid5     136326
atopid6     136522
atopid7     136586
atopid8     136623
atopid9     136642
mem1             0
mem2             0
version          0
dtype: int64