In [2]:
import pandas as pd

In [3]:
"""The most comprehensive dataset (including the largest number of variables) is the
 member level dataset (atop5_1m). The member level dataset includes a separate entry for
 each alliance member during each phase of each alliance"""
atop_member = pd.read_csv("./ATOP_data/atop5_1m.csv")

In [4]:
atop_member.info()
atop_member.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2510 entries, 0 to 2509
Columns: 105 entries, atopid to version
dtypes: float64(51), int64(54)
memory usage: 2.0 MB

,atopid,cowid,cow4id,member,cowsys,yrent,moent,dayent,yrexit,moexit,...,nomicoop,conres,agprois,conmen,ecaid,interv,source,new5,rev5,version
0,1005,NaN,NaN,200,0,1815,1,3.0,1815,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,5.1
1,1005,NaN,NaN,220,0,1815,1,3.0,1815,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,5.1
2,1005,NaN,NaN,300,0,1815,1,3.0,1815,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,5.1
3,1005,NaN,NaN,245,0,1815,1,13.0,1815,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,5.1
4,1005,NaN,NaN,240,0,1815,1,19.0,1815,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,5.1

In [5]:
atop_member.isnull().sum()

atopid        0
cowid      1450
cow4id     1271
member        0
cowsys        0
           ...
interv       36
source        0
new5          0
rev5          0
version       0
Length: 105, dtype: int64

In [7]:
atop_member[atop_member['member'] == 34]

Empty DataFrame
Columns: [atopid, cowid, cow4id, member, cowsys, yrent, moent, dayent, yrexit, moexit, dayexit, ineffect, bilat, phase, maxphase, wartime, cowwar, estmode, pubsecr, secrart, proadd, futmem, speclgth, length, renounce, proren, renewlgt, term, termmode, termcaus, defense, offense, neutral, nonagg, consul, active, conditio, defcon, offcon, neucon, concon, defcoadv, defcoloc, defcocon, defconum, defcodem, defconpr, offcoadv, offcoloc, offcocon, offconum, offcodem, neucoadv, neucoloc, neucocon, neuconum, neucodem, neuconpr, neucoatt, concoadv, concoloc, concocon, concoreq, olimob, asymm, obvary, notaiden, dipaid, terrres, seppeace, thirdcom, noothall, specthrt, statthr1, statthr2, conwtin, medarb, milcon, milaid, intcom, subord, organ1, orgpurp1, organ2, orgpurp2, base, contrib, armred, acqterr, divgains, demwith, reflnun, refothio, natrefal, compag, nomicoop, conres, agprois, conmen, ecaid, ...]
Index: []

[0 rows x 105 columns]