In [1]:
import pandas as pd

In [2]:
# Includes information about each stateâ€™s alliance commitments in a given year
atop_state_year = pd.read_csv("./ATOP_data/atop5_1sy.csv")

In [3]:
# Each state for every year, if they have defense, neutral, etc and a total then the id of every alliance applicable that year
atop_state_year.info()
atop_state_year.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11923 entries, 0 to 11922
Data columns (total 70 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     11923 non-null  int64
 1   year      11923 non-null  int64
 2   atopally  11923 non-null  int64
 3   defense   11923 non-null  int64
 4   offense   11923 non-null  int64
 5   neutral   11923 non-null  int64
 6   nonagg    11923 non-null  int64
 7   consul    11923 non-null  int64
 8   number    11923 non-null  int64
 9   transyr   11923 non-null  int64
 10  atopid1   11923 non-null  int64
 11  atopid2   8506 non-null   float64
 12  atopid3   5837 non-null   float64
 13  atopid4   3803 non-null   float64
 14  atopid5   2527 non-null   float64
 15  atopid6   1897 non-null   float64
 16  atopid7   1546 non-null   float64
 17  atopid8   1310 non-null   float64
 18  atopid9   1093 non-null   float64
 19  atopid10  946 non-null    float64
 20  atopid11  848 non-null    float64
 21  atopid12  760 non-null    float64
 22  atopid13  688 non-null    float64
 23  atopid14  628 non-null    float64
 24  atopid15  517 non-null    float64
 25  atopid16  449 non-null    float64
 26  atopid17  363 non-null    float64
 27  atopid18  333 non-null    float64
 28  atopid19  312 non-null    float64
 29  atopid20  283 non-null    float64
 30  atopid21  268 non-null    float64
 31  atopid22  243 non-null    float64
 32  atopid23  221 non-null    float64
 33  atopid24  203 non-null    float64
 34  atopid25  180 non-null    float64
 35  atopid26  145 non-null    float64
 36  atopid27  132 non-null    float64
 37  atopid28  122 non-null    float64
 38  atopid29  105 non-null    float64
 39  atopid30  102 non-null    float64
 40  atopid31  91 non-null     float64
 41  atopid32  75 non-null     float64
 42  atopid33  63 non-null     float64
 43  atopid34  50 non-null     float64
 44  atopid35  37 non-null     float64
 45  atopid36  27 non-null     float64
 46  atopid37  27 non-null     float64
 47  atopid38  27 non-null     float64
 48  atopid39  26 non-null     float64
 49  atopid40  26 non-null     float64
 50  atopid41  26 non-null     float64
 51  atopid42  24 non-null     float64
 52  atopid43  22 non-null     float64
 53  atopid44  20 non-null     float64
 54  atopid45  20 non-null     float64
 55  atopid46  20 non-null     float64
 56  atopid47  19 non-null     float64
 57  atopid48  18 non-null     float64
 58  atopid49  18 non-null     float64
 59  atopid50  15 non-null     float64
 60  atopid51  15 non-null     float64
 61  atopid52  14 non-null     float64
 62  atopid53  12 non-null     float64
 63  atopid54  6 non-null      float64
 64  atopid55  3 non-null      float64
 65  atopid56  2 non-null      float64
 66  atopid57  2 non-null      float64
 67  atopid58  1 non-null      float64
 68  atopid59  1 non-null      float64
 69  version   11923 non-null  float64
dtypes: float64(59), int64(11)
memory usage: 6.4 MB

,state,year,atopally,defense,offense,neutral,nonagg,consul,number,transyr,...,atopid51,atopid52,atopid53,atopid54,atopid55,atopid56,atopid57,atopid58,atopid59,version
0,2,1908,1,0,0,0,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
1,2,1909,1,0,0,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
2,2,1910,1,0,0,0,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
3,2,1921,1,0,0,0,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
4,2,1922,1,0,0,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11918,990,2014,1,0,0,0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
11919,990,2015,1,0,0,0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
11920,990,2016,1,0,0,0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
11921,990,2017,1,0,0,0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
11922,990,2018,1,0,0,0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1

In [4]:
atop_state_year.isnull().sum()

state           0
year            0
atopally        0
defense         0
offense         0
            ...
atopid56    11921
atopid57    11921
atopid58    11922
atopid59    11922
version         0
Length: 70, dtype: int64

In [5]:
atop_state_year[atop_state_year["state"] == 2]

,state,year,atopally,defense,offense,neutral,nonagg,consul,number,transyr,...,atopid51,atopid52,atopid53,atopid54,atopid55,atopid56,atopid57,atopid58,atopid59,version
0,2,1908,1,0,0,0,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
1,2,1909,1,0,0,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
2,2,1910,1,0,0,0,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
3,2,1921,1,0,0,0,0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
4,2,1922,1,0,0,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2,2014,1,1,0,0,1,1,19,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
87,2,2015,1,1,0,0,1,1,19,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
88,2,2016,1,1,0,0,1,1,19,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
89,2,2017,1,1,0,0,1,1,19,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
90,2,2018,1,1,0,0,1,1,19,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1