In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
#ally_direct = pd.read_csv("./alliances/alliance_v4.1_by_directed.csv")
#ally_direct_year = pd.read_csv("/alliances/alliance_v4.1_by_directed_yearly.csv")
#ally_dyad = pd.read_csv("/alliances/alliance_v4.1_by_dyad.csv")
#ally_dyad_year = pd.read_csv("/alliances/alliance_v4.1_by_dyad_yearly.csv")
#ally_member = pd.read_csv("./alliances/alliance_v4.1_by_member.csv")
ally_member_year = pd.read_csv("./alliances/alliance_v4.1_by_member_yearly.csv")

In [5]:
ally_member_year.info()

ally_member_year.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21315 entries, 0 to 21314
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   version4id     21315 non-null  int64
 1   ccode          21315 non-null  int64
 2   state_name     21315 non-null  object
 3   all_st_day     21315 non-null  int64
 4   all_st_month   21315 non-null  int64
 5   all_st_year    21315 non-null  int64
 6   all_end_day    9408 non-null   float64
 7   all_end_month  9408 non-null   float64
 8   all_end_year   9408 non-null   float64
 9   ss_type        21315 non-null  object
 10  mem_st_day     21315 non-null  int64
 11  mem_st_month   21315 non-null  int64
 12  mem_st_year    21315 non-null  int64
 13  mem_end_day    9747 non-null   float64
 14  mem_end_month  9747 non-null   float64
 15  mem_end_year   21315 non-null  int64
 16  left_censor    21297 non-null  float64
 17  right_censor   21315 non-null  int64
 18  defense        21315 non-null  int64
 19  neutrality     21315 non-null  int64
 20  nonaggression  21308 non-null  float64
 21  entente        21291 non-null  float64
 22  year           21315 non-null  int64
 23  version        21315 non-null  float64
dtypes: float64(9), int64(13), object(2)
memory usage: 3.9+ MB

,version4id,ccode,state_name,all_st_day,all_st_month,all_st_year,all_end_day,all_end_month,all_end_year,ss_type,...,mem_end_month,mem_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
0,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,...,NaN,2012,1.0,1,1,0,1.0,0.0,1816,4.1
1,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,...,NaN,2012,1.0,1,1,0,1.0,0.0,1817,4.1
2,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,...,NaN,2012,1.0,1,1,0,1.0,0.0,1818,4.1
3,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,...,NaN,2012,1.0,1,1,0,1.0,0.0,1819,4.1
4,1,200,United Kingdom,9,5,1386,NaN,NaN,NaN,Type I: Defense Pact,...,NaN,2012,1.0,1,1,0,1.0,0.0,1820,4.1

In [6]:
ally_member_year.tail()

,version4id,ccode,state_name,all_st_day,all_st_month,all_st_year,all_end_day,all_end_month,all_end_year,ss_type,...,mem_end_month,mem_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
21310,414,666,Israel,30,11,1981,26.0,12.0,1991.0,Type III: Entente,...,12.0,1991,0.0,0,0,0,0.0,1.0,1987,4.1
21311,414,666,Israel,30,11,1981,26.0,12.0,1991.0,Type III: Entente,...,12.0,1991,0.0,0,0,0,0.0,1.0,1988,4.1
21312,414,666,Israel,30,11,1981,26.0,12.0,1991.0,Type III: Entente,...,12.0,1991,0.0,0,0,0,0.0,1.0,1989,4.1
21313,414,666,Israel,30,11,1981,26.0,12.0,1991.0,Type III: Entente,...,12.0,1991,0.0,0,0,0,0.0,1.0,1990,4.1
21314,414,666,Israel,30,11,1981,26.0,12.0,1991.0,Type III: Entente,...,12.0,1991,0.0,0,0,0,0.0,1.0,1991,4.1

In [7]:
ally_member_year.isnull().sum()

version4id           0
ccode                0
state_name           0
all_st_day           0
all_st_month         0
all_st_year          0
all_end_day      11907
all_end_month    11907
all_end_year     11907
ss_type              0
mem_st_day           0
mem_st_month         0
mem_st_year          0
mem_end_day      11568
mem_end_month    11568
mem_end_year         0
left_censor         18
right_censor         0
defense              0
neutrality           0
nonaggression        7
entente             24
year                 0
version              0
dtype: int64

       version4id  ccode      state_name  all_st_day  all_st_month  \
189             1    200  United Kingdom           9             5
9537          218    200  United Kingdom          17             3
10811         227    200  United Kingdom           4             4

       all_st_year  all_end_day  all_end_month  all_end_year  \
189           1386          NaN            NaN           NaN
9537          1948          NaN            NaN           NaN
10811         1949          NaN            NaN           NaN

                    ss_type  ...  mem_end_month  mem_end_year  left_censor  \
189    Type I: Defense Pact  ...            NaN          2012          1.0
9537   Type I: Defense Pact  ...            NaN          2012          0.0
10811  Type I: Defense Pact  ...            NaN          2012          0.0

       right_censor  defense  neutrality  nonaggression  entente  year  \
189               1        1           0            1.0      0.0  2005
9537              1        1           0            0.0      1.0  2005
10811             1        1           0            1.0      1.0  2005

       version
189        4.1
9537       4.1
10811      4.1

[3 rows x 24 columns]