In [1]:
import pandas as pd

In [2]:
atop = pd.read_csv("./alliances/atop5_1a.csv")

In [3]:
atop.info()
atop.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789 entries, 0 to 788
Columns: 134 entries, atopid to version
dtypes: float64(107), int64(27)
memory usage: 826.1 KB

,atopid,cowid,cow4id,begyr,begmo,begday,endyr,endmo,endday,ineffect,...,mem54,mem55,mem56,mem57,mem58,mem59,source,new5,rev5,version
0,1005,NaN,NaN,1815,1,3.0,1815,2,8.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,5.1
1,1010,NaN,NaN,1815,1,14.0,1815,6,8.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,5.1
2,1015,NaN,NaN,1815,4,29.0,1815,6,12.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,5.1
3,1020,2005.0,3.0,1815,6,8.0,1866,6,15.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,5.1
4,1025,2006.0,4.0,1815,6,12.0,1820,7,13.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,5.1

In [4]:
atop.isnull().sum()

atopid       0
cowid      479
cow4id     395
begyr        0
begmo        0
          ...
mem59      788
source       0
new5         0
rev5         0
version      0
Length: 134, dtype: int64